body {
  padding: 0;
  margin: 0;
  font-family: 'Barlow Semi Condensed', sans-serif;
  background: hsl(210, 46%, 95%);
}

.section-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
  "comment-1 comment-1 comment-2 comment-5"
  "comment-3 comment-4 comment-4 comment-5";
  grid-gap: 36px;
  max-width: 80%;
  margin-top: 128px;
  margin-bottom: 128px;
  margin-left: auto;
  margin-right: auto;

}

.comment-card {
  padding: 30px;
  border-radius: 10px;
  background: #C0C0C0;
}

.avatar-image {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.comment-card:nth-of-type(1){
  grid-area: comment-1;

}

.comment-card:nth-of-type(2){
  grid-area: comment-2;

}

.comment-card:nth-of-type(3){
  grid-area: comment-3;

}

.comment-card:nth-of-type(4){
  grid-area: comment-4;

}

.comment-card:nth-of-type(5){
  grid-area: comment-5;

}
